{% assign education = site.data.data.education %}
{% if education %}
<section class="resume-section education-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            {% for graduation in education %}
            <li class="mb-2">
                <div class="resume-degree font-weight-bold">{{ graduation.degree }}</div>
                <div class="resume-degree-org">{{ graduation.university }}</div>
                <div class="resume-degree-time">{{ graduation.time }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!--//education-section-->
{% endif %}
