{% assign interests = site.data.data.interests %}
{% if interests %}
<section class="resume-section interests-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">{{ site.data.labels.interests | default: "Interests" }}</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            {% for interest in interests %}
            <li class="mb-1">{{ interest.name }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
<!--//interests-section-->
{% endif %}
